In [ ]:
# map() Functions:
# definition:
# Map in Python is a function that works as an iterator to return a result after applying a function to every item 
# of an iterable (tuple, lists, etc.). It is used when you want to apply a single transformation function to all 
# the iterable elements.

In [ ]:
# Problem Statement
# when you want to add n number with all list items

In [1]:
# The normal or by using for loop
l1 = [11, 21, 34, 53, 64, 64]
n = 10
l2 = []
for i in l1:
    l2.append(i + n)
print(l2)

[21, 31, 44, 63, 74, 74]

In [ ]:
# The solution with map function

In [15]:
l1 = [11, 21, 34, 53, 64, 64]

In [16]:
def test(a):
    return a + 10
list(map(test,l1))

[21, 31, 44, 63, 74, 74]

In [17]:
# The Solution with map and lambda function
list(map(lambda a: a + 10,l1))

[21, 31, 44, 63, 74, 74]

In [ ]:
# problem Statement
# Convert list items to uppercase

In [18]:
li = ["kalyan", "sai", "ganesh", "praveen"]

In [19]:
list(map(lambda a : a.capitalize(),li))

['Kalyan', 'Sai', 'Ganesh', 'Praveen']

In [20]:
list(map(lambda a : a.upper(),li))

['KALYAN', 'SAI', 'GANESH', 'PRAVEEN']

In [1]:
# Find the length of the list items
li = ["kalyan", "sai", "ganesh", "praveen"]

In [2]:
list(map(lambda a:len(a), li))

[6, 3, 6, 7]

In [ ]:
#####################
###Filter Function###
#####################
#Defenition
# Python's filter() is a built-in function that allows you to process an iterable and extract those 
# items that satisfy a given condition. This process is commonly known as a filtering operation.

In [3]:
# Print all even numbers functions form the list
li = [35,65,78,64,33,56,77]

In [4]:
# by using for loop
li1 = []
for i in li:
    if i%2 == 0:
        li1.append(i)
print(li1)

[78, 64, 56]

In [5]:
# by using list camprehenstion
[i for i in li if i%2==0]

[78, 64, 56]

In [8]:
# by using lambda function
a = lambda a : a if a%2==0 else None

In [9]:
# but we cannot use the map function because it map to every item in the list
list(map(a,li))

[None, None, 78, 64, None, 56, None]

In [10]:
# By using filer function we achive this problem
list(filter(a,li))

[78, 64, 56]

In [11]:
# with normal funtion
def test4(a):
    if a%2==0:
        return True
    else:
        return False
list(filter(a,li))

[78, 64, 56]

In [13]:
#####################
###Reduce Function###
#####################
#Defenition
# Python's reduce() is a function that implements a mathematical technique called folding or reduction. 
# reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

In [ ]:
# we can using extrenal funtion, for loop and List comprehenstion

In [24]:
li3 = [2,4,3,1,2,4]

In [25]:
# to get the multiplication of the entire list
# by using reduce() fuction
from functools import reduce
reduce(lambda a,b:a*b,li3)

192

In [26]:
# limitation for reduce on paremeter should be 2 not more
reduce(lambda a,b,c:a*b*c,li3)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [29]:
li = [3]
reduce(lambda a,b:a*b,li)

3

In [42]:
# Doc string
# notation giving to the user -> noation
# signatature of the funtion
## there are the indication not mandatory inputs or outputs
# we can also allows to mention the default value

def test4(a :int,b, c:int = 123) -> int:
    ''' this is mu test4 function'''
    return a + b + str(c)

In [43]:
test4("kalyan","Gorjana")

'kalyanGorjana123'